@model Trefoil.Web.Models.UserModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-top">
    <h2>Contact Details - @Model.fullname</h2>
</div>

<div class="body-main">
</div>